.ftco-no-pt {
  padding-top: 0;
  color: rgb(87, 87, 87);
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}
.ftc-no-pb {
  padding-bottom: 0 !important;
}

.wrap-about {
  position: relative;
}

.wrap-about h2 {
  font-weight: 500;
}

.heading-section .subheading {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  color: #ff7a5c;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 500;
}
