@media only screen and (min-width: 1280px) and (max-width: 3640px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1500px) {
  .banner_part:after {
    right: 20px;
  }
}

@media only screen and (max-width: 1380px) {
  .header {
    width: 1200px;
  }

  .header_content {
    width: calc(100% - 219px);
  }

  .main_nav_container {
    padding-right: 63px;
  }

  .header_side img {
    width: 20px;
    height: 20px;
  }

  .header_side span {
    font-size: 14px;
  }

  .banner_part {
    height: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .header_content {
    width: 100%;
  }

  .header {
    width: 90%;
  }
  .main_nav_container {
    padding-right: 53px;
  }

  .header_side {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .main_nav_container {
    display: none;
  }

  .hamburger_container {
    display: block;
  }

  .hamburger_container i {
    font-size: 24px;
    padding: 10px;
    color: #3a3a3a;
  }

  .fa-bars:before {
    content: '\f0c9';
  }

  .banner_part {
    height: 750px;
  }

  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }

  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }

  .banner_part::after {
    display: none;
  }
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }

  .pricing-background {
    padding: 0 0 25px;
  }

  .pricing-table {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) {
  .menu_container {
    right: -100vw;
    width: 100vw;
    height: 100vh;
  }

  .section-title h2 {
    font-size: 26px;
  }

  .pricing-plan img {
    display: none;
  }

  .pricing-features {
    margin: 25px 0 12.5px;
  }

  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    height: 74px;
  }

  .logo img {
    width: 30px;
  }

  .logo span {
    font-size: 16px;
  }

  .logo_container {
    padding-left: 15px;
  }
  .hamburger_container {
    right: 5px;
  }

  .menu_close_container {
    right: 30px;
    top: 34px;
  }

  .menu {
    top: 70px;
  }

  .menu_item {
    margin-bottom: 0;
  }

  .menu_item a {
    font-size: 24px;
  }

  .menu_copyright {
    display: none;
  }

  .banner_part .banner_text {
    text-align: center;
    padding-top: 0;
    height: 750px;
  }
}
